*,html{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    color: #242d52;
}
body{
    background-color: hsl(0, 0%, 98%);
    position: relative;
    overflow-x: hidden;
    font-family: "Be Vietnam Pro", serif;
}
.image{
    position: absolute;
    left: 48%;
    top: -8%;
}
.logo{
    font-size: 30px;
    color: hsl(228, 39%, 23%);
    text-decoration: none;
    font-weight: 700;
}
.links{
    text-decoration: none;
    color: #242d52;
    font-weight: 500;
}
.tugma{
    padding: 13px 50px;
    background-color: #f25f3a;
    border: none;
    box-shadow: 3px 4px 10px #f25f3a;
    color: #fafafa;
    border-radius: 100px;
}
.tugma:hover{
    cursor: pointer;
    background-color: #f25f3abe;
}
button{
    cursor: pointer;
}
.wrapper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
nav{
    display: flex;
    gap: 20px;
}

.wrapper-hamburger-line, .wrapper-close{
    display: none;
}

.main-sarlavha{
    font-size: 54px;
}

.main-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.main-p{
    letter-spacing: 1.1px;
    color: hsl(227, 12%, 61%);
}
.wrapper-main{
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
}
.second-section{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-top: 70px;
    padding-bottom: 70px;


}
.rasm{
    position: absolute;
    z-index: -1;
    right: 85%;
    top: 45%;
}
.second-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.sarlavha-h2{
    font-size: 45px;
}
.wrapper-start{
    display: flex;
    gap: 20px;
    align-items: center;

}
.number{
    padding: 8px 30px;
    background-color: #f25f3a;
    color: white;
    border: none;
    border-radius: 100px;
}
.description{
    font-weight: bold;
    font-size: 24px;
}
.second-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.matnn{
    margin-left: 100px;
}
.client-img{
    width: 80px;
    position: absolute;
    bottom: 30px;


}
.wrapper-img{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.name{
    font-size: 20px;
    font-weight: bold;

}
.client-1{
    background-color: aliceblue;
    padding: 30px 40px;
    margin-top: 60px;
}
.wrapper-section-footer{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 120px;
}
.wrapper-client{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 60px;
}
.h2{
    text-align: center;
    margin-bottom: 50px;
}
.wrapper-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-header-wrappper{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
}
.footer-header{
    background-color: #f25f3a;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-sarlavha{
    font-size: 50px;
    color: #fafafa;
}
.tugmaa{
    padding: 13px 50px;
    color: #f25f3a;
    background-color: #fafafa;
    border-radius: 100px;
    border: none;
}
footer{

    background-color: hsl(233, 12%, 13%);
}
.wrapper-footer{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-link{
    text-decoration: none;
    color: #9095a7;
}

.footer-link:hover{
    color: #f25f3a;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.logos{
    width: 30px;
}
.wrapper-loogos{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.logo-footer{
    color: #9095a7;
    text-decoration: none;
}
.input{
    padding: 13px 40px;
    border-radius: 100px;
    border: none;
    color: #f25f3a;
    background-color: #fafafa;
}

.footer-span{
    color: #f25f3a;
    text-align: start;
    margin-left: 35px;
}
form{
    display: flex;
    gap: 20px;
    align-items: center;
}
.wrapper-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-tugma{
    padding: 13px 30px;
    border-radius: 100px;
    color: #fafafa;
    background-color: #f25f3a;
    border: none;
}
.built_by{
    color: #9095a7;
    margin-top: 40px;
    text-align: center;
}
.wrapper-ul{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.logos:hover{
    color: #f25f3a;
    cursor: pointer;
    color: transparent;
    background-color: #f25f3a;
}
.logo-footer{
    color: #fafafa;
    font-size: 40px;
    font-weight: bold;
}
.main-img{
    width: 100%;
}
.wrapper-all{
    position: relative;
    overflow: hidden;

}
.wrapper-additions{
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: -1;
}

#opacity{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 10%;
    z-index: -3;
    position: fixed;
    display: none;
}
.wrapper-client{
    display: flex;
    gap: 20px;
    width: 100%;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    overflow-x: auto;
    cursor: grab;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
.client-1{
    min-width: 500px;
    scroll-snap-type: start;
}
.links:hover{
    color: #9095a7;
}
.wrapper-header{
    position: relative;

}
#yop{
    position: absolute;
    left: 90%;
    /* top: -2%; */
    bottom: 90%;
    /* width: 90px; */
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tugmaa{
    font-weight: bold;
}


@media (max-width: 1440px){

}
@media (max-width: 768px){
    
    nav{
        display: none;
    }
    
    .wrapper-btn{
        display: none;
    }
    .wrapper-hamburger-line{
        display: block;
    }
    .wrapper-close{
        display: none;
    }
    svg:hover{
        cursor: pointer;
    }
    .wrapper-header{
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
    }
    .wrapper-main{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .second-section{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
    .wrapper-right-second{
        padding-top: 50px;
    }
    .wrapper-start{
        background-color: hsl(13, 100%, 96%);
    }
    /* .wrapper-client{
        display: flex;
        flex-direction: column;
        gap: 20px;
    } */
    .footer-header-wrappper{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .wrapper-footer{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .wrapper-ul{
        display: flex;
        justify-content: space-between;
        gap: 80px;

    }
    .footer-span{
        display: none;
    }
    .wrapper-footer-built{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

}

@media (max-width: 500px){
    .wrapper-main{
        max-width: 380px;
        margin-right: auto;
        margin-left: auto;
    }
    .wrapper-header{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
    .image{
        display: none;
    }
    .rasmm{
        display: none;
    }
    .main-img{
        width: 100%;
    }
    .sarlavha-h2{
        text-align: center;
        font-size: 28px;
    }
    .main-p{
        text-align: center;
        font-size: 14px;
    }
    .main-sarlavha{
        font-size: 30px;
        text-align: center;
    }
    .footer-sarlavha{
        font-size: 45px;
        text-align: center;
    }
    .wrapper-main-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .description{
        font-size: 14px;
    }
    .number{
        font-size: 14px;
        padding: 5px 18px;
    }
    .second-right{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .wrapper-matnn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
    }
    .matnn{
        margin: 0;
    }
    .h2{
        font-size: 25px;
    }
    .client-1{
        min-width: 340px;
    }
    .footer-sarlavha{
        font-size: 28px;
    }
    .tugmaa{
        font-weight: bold;
    }

}

@media (max-width: 344px){
    .wrapper-main{
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
    .wrapper-header{
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
    .main-img{
        width: 100%;
    }
    .sarlavha-h2{
        text-align: center;
    }
    .main-p{
        text-align: center;
    }
    .image{
        display: none;
    }
    #Rasm{
        display: none;
    }
    
}