<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="(https://fonts.google.com/specimen/Be+Vietnam+Pro)">
  <title>Manage landing page</title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
  <div class="wrapper-all">

    <header>
      <div class="wrapper-header">
        <a href="#" class="logo">manage</a>
        <nav>
          <a href="#" class="links">Pricing</a>
          <a href="#" class="links">Product</a>
          <a href="#" class="links">About US</a>
          <a href="#" class="links">Careers</a>
          <a href="#" class="links">Community</a>
        </nav>
        <div class="wrapper-btn">
          <button class="tugma">
            Get started
          </button>
        </div>
        <div class="wrapper-hamburger-line">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18"><g fill="#242D52" fill-rule="evenodd"><path d="M0 0h25v4H0zM0 7h25v4H0zM0 14h25v4H0z"/></g></svg>
        </div>

        <div class="wrapper-close">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="22"><path fill="#242D52" fill-rule="evenodd" d="M17.925.747l2.828 2.828L13.328 11l7.425 7.425-2.828 2.828-7.425-7.425-7.425 7.425-2.828-2.828L7.671 11 .247 3.575 3.075.747 10.5 8.171 17.925.747z"/></svg>
        </div>
      </div>
    </header>

    <main>
      <div class="wrapper-main">

        <div class="main-left">
          <h1 class="main-sarlavha">
            Bring everyone <br> together to build <br> better products.
          </h1>
          <p class="main-p">
            Manage makes it simple for software teams <br> to plan day-to-day tasks while keeping the <br> larger team goals in view.
          </p>
          <div class="wrapper-main-btn">
            <button class="tugma">
              Get started
            </button>
          </div>
        </div>

        <div class="main-right">
          <img src="../images/illustration-intro.svg" alt="" class="main-img">
        </div>

      </div>
      <section class="second-section">
        <div class="second-left">
          <h2 class="sarlavha-h2">What's different about <br> Manage?</h2>
          <p class="main-p">Manage provides all the functionality your <br> team needs. Without the complexity. Our <br> sodfware is tailor-made for mdoern digital <br> products teams</p>
        </div>
        <div class="wrapper-right-second">

          <div class="second-right">
            <div class="wrapper-start">
              <button class="number">01</button>
              <p class="description">Track company-wide progress</p>
            </div>
              <p class="main-p matnn">See how your day-to-day tasks fit into the wider vision. <br> Go fromm tracking progress at the milestone level all the <br> way done to the smallest of details. Never lose sight <br> of the biggest picture again</p>
          </div>

          <!--  -->
          <div class="second-right">
            <div class="wrapper-start">
              <button class="number">02</button>
              <p class="description">Advanced built-in reports</p>
            </div>
              <p class="main-p matnn">Sert internal delivery estimates and track progress toward <br> company goals. Our customisable dashboard helps you <br> build out the reportss you need to keep stakeholders <br> informed </p>
          </div>


          <div class="second-right">
            <div class="wrapper-start">
              <button class="number">03</button>
              <p class="description">Everything you need in one place</p>
            </div>
              <p class="main-p matnn">Stop jumping from one service to another to <br> communcate, store files, track tasks and share <br> documents. Manage offers an all-in0one team <br> produvtivity solution.</p>
          </div>

        </div>

      </section>

      <div class="section-footer">
        <div class="wrapper-section-footer">
          <h2 class="sarlavha-h2 h2">What they've said</h2>
          <div class="wrapper-client">

            <div class="client-1">
              <ul class="wrapper-img">
                <img src="../images/avatar-anisha.png" alt="" class="client-img">
                  <span class="name">Anisha Li</span>
              </ul>
              <p class="main-p">Ge has supercharged our team's workflow.The <br> maintain visibility on larger misestones at all times <br> keeps everyone motivated.</p>

            </div>

            <div class="client-1">
              <ul class="wrapper-img">
                <img src="../images/avatar-ali.png" alt="" class="client-img">
                  <span class="name">Ali Bravo</span>
              </ul>
              <p class="main-p">"We have been able to cancel so may other subscriptions <br> since using Manage. there is no more cross-channel <br> confusion and everyone is much more focused."</p>

            </div>

            <div class="client-1">
              <ul class="wrapper-img">
                <img src="../images/avatar-richard.png" alt="" class="client-img">
                  <span class="name">Richard Watts</span>
              </ul>
              <p class="main-p">"Manage allows us to provide structure and passion <br> this team keeps us organized and focused i can't stop recording him <br>
              them to everyone i talk tol"</p>

            </div>

          </div>
                  <div class="wrapper-button">
                    <button class="tugma">Get started</button>
                  </div>
        </div>
      </div>

    </main>
    <section class="footer-header">
      <div class="footer-header-wrappper ora">
        <h2 class="footer-sarlavha">Simplify how your team <br> works today.</h2>
        <a href="#" class="wrapper-tugma">
          <button class="tugmaa">Get Started</button>
        </a>
      </div>
    </section>

    <footer>
      <div class="wrapper-footer">
          <div class="footer-left">
            <a href="#" class="logo-footer">manage</a>
            <div class="wrapper-loogos">
              <img src="../images/icon-facebook.svg" alt="" class="logos">
            <img src="../images/icon-youtube.svg" alt="" class="logos">
            <img src="../images/icon-twitter.svg" alt="" class="logos">
            <img src="../images/icon-instagram.svg" alt="" class="logos">
            </div>
            

          </div>
          <ul class="footer-links">
            <a href="#" class="footer-link">Home</a>
            <a href="#" class="footer-link">Pricing</a>
            <a href="#" class="footer-link">Product</a>
            <a href="#" class="footer-link">About Us</a>
          </ul>
          <ul class="footer-links">
            <a href="#" class="footer-link">Careers</a>
            <a href="#" class="footer-link">Community</a>
            <a href="#" class="footer-link">Privacy Policy</a>
          </ul>
      </div>
    </footer>


  </div>
</body>
</html>